body {
  background-color: #d69a65;
}

h1 {
  color: #75471e;
  font-weight: bold;
  text-align: center;
  font-family: Lucida Handwriting;
  animation: blink 1s linear infinite;

}

h3 {

  font-family:Papyrus;
  font-size: 20px;
  color:white;
}
p {
	font-family: Papyrus;
	color: white;
	
}
.blink{
	color: white;
}

@keyframes blink{
	0% {
          color: white;
        }
}
 a{
 	color :#75471e;
 }