<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<form>
			<input type="text" name="name" v-model:value="name" v-on:input="name = $event.target.value"/>
		</form>
		{{name}}
	</div>
	<script src="https://cdn.jsdslivr.net/npn/vue@2/dist/vue.js"></script>
	<script>
		var vn = new Vue{(
			el:'#app',
			data:{
				'name' : 'Muhammad Iqbal Mubarok',
			},
			{
				'name' : 'Ruby Purwanti',
			},
			{
				'name' : 'Faqih Muhammad',
			},
		})
	</script>
</body>
</html>